[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
trimesh = "*"
scipy = "*"
networkx = "*"
manifold3d = "*"
blender = "*"

[dev-packages]

[requires]
python_version = "3.9"
